*{
    margin: 0%;
}
 /* Nav*/

nav .logo{

    float: left;
    width: auto;
    height:auto;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

nav{
    width: 100%;
    height: 70px;
    top: 0%;
    overflow: hidden;
    position: fixed;
    background-color: #ffdde1;

}
nav ul{
    float: right;
    margin-right: 20px;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav li a{
    color: black;
    text-decoration: none;
}

.high-section{
    height: 90vh !important;
}

main{
    
    margin: auto;
    flex: 1 0 auto;
    
}

body{

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;

}

.section{
    width: 100%;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
}


.init{
background-color: white;
    
}

 /* 
*/


/* Inicio*/

.parrafos{
    margin: 0px;
}

.primary{
    width: 100%;
    padding: 2% 1%;
    margin: 0%;
    font-size: 2cm;
    text-align: left;
}
.ima{
    display: block;
    float: right;
    width: 55%;
    height: 50%;
    border-style: none;
}

.primari{
    text-align: left;
    width: 40%;
    padding: 30px 15px;
    font-size: 25px;
}

.btn{
    width: 100px;
    height: 25px;
    padding: 10px;
    margin: 15px 15px;
    border-radius: 10px;
    color: black;
    background-color: pink;
    text-align: center;
    font-size: 120%;
}

a{
    text-decoration: none;
}
/* Sobre Nosotros*/

.section{
    margin: 0px;

}

.secondary{
    width: 100%;
    padding: 2% 1%;
    font-size: 40px;
    text-align: left;

}

.secondari{
    text-align: left;
    width: 40%;
    padding: 30px 15px;
    font-size: 25px;
    float: right;
    
}

.section h4{
    text-align: center;
    font-size: 140%;
}

.section .container{
    width: 50%;
    max-width: 2000px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 40px;
}

.container .card{
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center; all: 0.25;
}

.container .card:hover{

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 600;
}

.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}


/* Nuestro Equipo*/


.section .winx{
    width: 80%;
    max-width: 1200px;
    height: 300px;
    padding: 80px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px 40px;
    
}

.section .winx .winxcard{
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center; all: 0.25;

}

.section .winx .winxcard:hover{

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.winx .winxcard img{
    width: 400px;
    height: 250px;
}

.winx .winxcard h4{
    font-weight: 600;
}

.section .winx .winxcard a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

   
 /* Contacto*/

.section .card-container

h1{
    font-size: 25px;
    padding: 25px;
    margin: 5px;
    text-align: center;
    color: #e30052;
}

.card-container {

    
    width: 50%;
    padding: 35px;
    transition: 0.3s;
    margin: 45px auto;
    text-align: left;
    border-radius: 10px;
    background-color: #fad0c4;
    box-shadow: o 4px 8px 0 rgb(0, 0, 0, 0.2);
    color: #e30052;
    
  }

.card-container:hover{
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
}

input[type="text"], input[type="date"], input[type="email"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  
.option {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
input[type="submit"], input[type="reset"] {
    background-color: forestgreen;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
  }
  
input[type="reset"] {
   background-color: #dc3545 !important;

  }

footer .parra{
    margin: 0px;
    padding: 0px;
    float: right;
}

footer .social-media{
    margin: 15px 0;
    padding: 10px;
    float: right;
    display: flex;
}



